<!DOCTYPE html>
<html lang="en">
<head>
        {% load static %}
<link rel="stylesheet" href="{% static 'App_Django/style.css' %}">
    <meta charset="UTF-8">
    <title>Formulaire de saisie</title>
</head>
<body>
    <h1> Saisie d'un studio </h1>
      {% if id %}
        <form method="post" action="/App_Django/updatetraitementstudiodev/{{id}}/">
       {% else %}
           <form method="post" action="/App_Django/traitementstudiodev/">
       {% endif %}
      {% csrf_token %}
      {{form.as_ul}}
        <input type="submit" value="envoyer les données"/>
      </form>
</body>
</html>